
.heading {
color: #888;
border-radius: 16px;
background-color: white;
display: inline-block;
margin: 60px 0 -17px 0;
padding: 1px 10px 20px 10px;
}

#application_heading {
  margin-top: -25px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
  color: #888;
  background-color: white;
  -moz-box-shadow: 0px 0px 159px -20px #000;
  -webkit-box-shadow: 0px 0px 159px -20px #000;
  box-shadow: 0px 0px 159px -20px #000;
}
#application_heading p a {
  color: #888;
}
#article4 {
  margin: 10px;
  color: black;
  font-size: 11pt;
  line-height: 1.6em;
}
input[type="radio"] {
	margin: 3px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	width:349px;
	padding-left: 5px;
	border: 1px #999 solid;
}
input[type="file"] {
width: 352px;
padding-left: 5px;
}
textarea {
	height: 40px;
	resize:none;
}
li {
	list-style: none;
}
#allcontent {
	height: 100%;
}
#contactInformation input {
	width:349px;
}
#signRelease {
	margin-top: 40px;
	background-color: #ccc;
	padding: 10px;
	box-shadow: 0px 0px 159px -20px #000;
	box-shadow: 0px 0px 159px -20px #000;
}
table {
	width: 100%;
	-moz-box-shadow: 0px 0px 159px -20px #000;
	-webkit-box-shadow: 0px 0px 159px -20px #000;
	box-shadow: 0px 0px 159px -20px #000;
}
td {
	padding: 10px;
}

input, textarea {
	float: right;
}
#mainform input, #mainform textarea, #mainform select, #mainform button {
  width : 150px;
  margin: 0;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For all Gecko based browsers */
          box-sizing: border-box;
}

#references div:first-child,
#plannedVet div:first-child {
	padding-bottom: 55px;
}
#references p,
#plannedVet p {
	margin:0;
	padding: 0;
}
#references td input,
#plannedVet td input {
	margin-bottom: 10px;
}

#vetRelease input,
#plannedVet input,
#references input {
	width: 400px;
}

.checkboxes .radioElement {
	list-style: none;
	padding: 0 6px;
	margin-top: 17px;
} 
} .g {
	background-color: #ccc;
} .w {
	background-color: white;
}

#submitButton {
	margin-left: 425px;
	padding: 10px 20px;
  box-shadow: 0px 0px 25px #000;
  -moz-box-shadow: 0px 0px 25px #000;
   -webkit-box-shadow: 0px 0px 25px #000; 
  background-color: white;
  color: #F7611E;
  font-weight: bold;
  font-size: 15pt;
  border: none;
  margin-top: 70px;
  width: 250px;
  float: left;
}
#submitButton:hover {
  box-shadow: 0px 0px 0px 3px #F7611E;
  -webkit-box-shadow: 0px 0px 0px 3px #F7611E;
}
/*  colors the rows  */
tr:nth-child(odd)		{ background-color:white; } 
tr:nth-child(even)		{ background-color:#ccc; }


form table li {
	list-style: none;
}


.checkboxes .{ 
	border: none;
}
.radioElement label {
	background-color:#ccc;
}


table label li {
/*background-color: #ccc;*/
display: inline-block;
width: 100%;
margin: 2px;
padding: 1px;
}